{% extends 'base.html' %}

{% block scripts %}
<script>
  // jquery function
    $(document).ready(function(){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for user in designer_points%}'{{ user.get_username|title }}',{%endfor%}], //loop through queryset, 
                    datasets: [{
                        // axis: 'y',
                        label: ' Points',
                        tension: 0.4,
                        borderWidth: 0,
                        borderRadius: 2,
                        borderSkipped: false,
                        backgroundColor: 'rgba(119, 218, 144, 0.8)',
                        data: [{%for user in designer_points%}{{ user.total_points }},{%endfor%}],
                        maxBarThickness: 20,
                        // fi,ll: true,
                    },],
                },
                options: {
                    // indexAxis: 'y',
                    responsive: true,
                    // maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(119, 218, 144, 0.2)'
                            },
                            // beginAtZero: true,
                            // indexAxis: 'y',
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 500,
                                beginAtZero: true,
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                                color: "rgba(17, 21, 18, 0.8)"
                            },
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(119, 218, 144, 0.2)'
                            },
                            ticks: {
                                display: true,
                                color: 'rgba(17, 21, 18, 0.8)',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                    },
                    
                }
    });
        });

    $(document).ready(function(){
        var ctx = document.getElementById('perDayTaskChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{%for task in tasks_per_day%}'{{ task.day|date:'F j' }}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    // axis: 'y',
                    label: ' Completed tasks per day',
                    data: [{%for task in tasks_per_day%}'{{ task.c }}',{%endfor%}],
                    tension: 0.1,
                    borderWidth: 1,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: 'rgba(35, 156, 218, 0.8)',
                    borderColor: 'rgba(35, 156, 218, 0.8)',
                    maxBarThickness: 10,
                    fill: false
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(35, 156, 218, 0.2)'
                        },
                        // beginAtZero: true,
                        // indexAxis: 'y',
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "rgba(17, 21, 18, 0.8)"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(35, 156, 218, 0.2)'
                        },
                        ticks: {
                            display: true,
                            color: 'rgba(17, 21, 18, 0.8)',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
                
            }
    });
        });
</script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboards:dashboard' %}">Dashboard</a></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Completed</li> -->
    </ol>
</nav>
{% if perms.auth %}
    {% if perms.auth.view_user %}
        {% include 'includes/users_dashboard.html' %}
    {% endif %}
{% else %}
    {% include 'includes/user_dashboard.html' %}
{% endif %}
    
{% endblock %}