{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboards:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ task_cat.name|title }}</strong>
            </div>
            <div class="card-body">
                {{task_cat.count}}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}