{% extends 'base.html' %}

{% block scripts %}
<script>
  // jquery function
$(document).ready(function(){
          var ctx = document.getElementById('myCat').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'doughnut', // doughnut, line
              data: {
                  labels: [{% for cat in task_cat %} '{{ cat }}', {%endfor%}], //loop through queryset, 
                  datasets: [{
                      // axis: 'y',
                      label: ' Total completed task',
                      data: [{% for cat in task_cat %}'{{ cat.total }}',{%endfor%}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.05)', 
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 3
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true,
                          indexAxis: 'y',
                      }
                  },
                  
              }
        });
    });
    $(document).ready(function(){
          var ctx = document.getElementById('myType').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'doughnut', // doughnut, line
              data: {
                  labels: [{% for cat in task_type %} '{{ cat }}', {%endfor%}], //loop through queryset, 
                  datasets: [{
                      // axis: 'y',
                      label: ' Total completed task',
                      data: [{% for cat in task_type %}'{{ cat.total }}',{%endfor%}],
                      backgroundColor: [
                        //   'rgba(255, 99, 132, 0.2)', 
                          'rgba(54, 162, 235, 0.05)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                        //   'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 3
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true,
                          indexAxis: 'y',
                      }
                  },
                  
              }
        });
    });
</script>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboards:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-4">
        <div class="card border-success">
            <div class="card-body">
                <strong>Completed</strong><small class="text-muted float-right">{{ perms.tasks }}</small>
                <hr>
                <small class="text-muted"><strong>{{ total_user_tasks }}</strong> total tasks</small>
                <h1>{{ completed_tasks.count }} {% if completed_tasks.count > 1 %}tasks{% else %}task{% endif %}</h1>
                <small class="text-muted">for the month of {{ today|date:'F' }}</small>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <strong>Total</strong>
                <hr>
                <small class="text-muted"><strong>{{ designer_points.total_points }}</strong> points for <b>{{ designer_points|title }}</b></small>
                <h1>
                    {{ designer_points_month.total_points }} {% if designer_points_month.total_points > 1 %}points{% else %}point{% endif %}
                </h1>
                <small class="text-muted"> are for the month of {{ today|date:'F' }}</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card mt-3">
            <div class="card-body">
                <strong>Completed tasks by categories </strong><small class="float-right">for the month of <strong>{% now 'F' %}</strong></small>
                <hr>
                <canvas id="myCat" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mt-3">
            <div class="card-body">
                <strong>Completed tasks by type</strong><small class="float-right">for the month of <strong>{% now 'F' %}</strong></small>
                
                <hr>
                <canvas id="myType" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}