{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'taskers:userview' %}">Tasks</a></li>
      <li class="breadcrumb-item active" aria-current="page">Priority</li>
    </ol>
</nav>
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    Priority tasks
                </h4>
            </div>
            <div class="card-body">
                <table class="table table-sm" id="tasks">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client Name</th>
                            <th>Task Category</th>
                            <th>Date Started</th>
                            <th>Task Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.is_superuser %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                <!-- <strong>Date started</strong> <br> -->
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                <!-- <strong>Date started</strong> <br> -->
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}