{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>New task</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary btn-sm" type="submit" value="Create">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}