{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-angle-left"></i> Back</a></li>
      <li class="breadcrumb-item active" aria-current="page">Task delete</li>
    </ol>
</nav>
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card-container mb-4">
            <div>
                {{title|title}}
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <p>Are you sure you want to delete <strong>{{ task.name|title }}</strong>?</p>
                </div>
                <hr>
                <div>
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">No</a>
                    <input type="submit" value="Yes" class="btn btn-danger btn-sm">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}