{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'taskers:userview' %}">Tasks</a></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    </ol>
</nav>
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
<div class="row mb-3">
    <div class="col-sm-4">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-alt"></i> Tasks today <small class="float-right">{{ today|date }}</small>
            </div>
            <div class="card-body">
                <small>
                    {% if priority_tasks_today.count %}
                    <span class="badge badge-danger badge-pill">{{ priority_tasks_today.count }}</span>
                    {% else %}
                    <span class="badge badge-primary badge-pill">{{ priority_tasks_today.count }}</span>
                    {% endif %}
                    <a href="{% url 'taskers:tasksprioritytoday' %}"> Priority</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ wip_tasks_today.count }}</span>
                    <a href="{% url 'taskers:workinprogresstoday' %}"> Work in progress</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ completed_tasks_today.count }}</span>
                    <a href="{% url 'taskers:completedtoday' %}"> Completed</a></small> <br>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-success mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-alt"></i> Tasks yesterday <small class="float-right">{{ yesterday|date }}</small>
            </div>
            <div class="card-body">
                <small>
                    {% if priority_tasks_yesterday.count %}
                    <span class="badge badge-danger badge-pill">{{ priority_tasks_yesterday.count }}</span>
                    {% else %}
                    <span class="badge badge-primary badge-pill">{{ priority_tasks_yesterday.count }}</span>
                    {% endif %}
                    <a href="{% url 'taskers:taskspriorityyesterday' %}"> Priority</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ wip_tasks_yesterday.count }}</span>
                    <a href="{% url 'taskers:wiptaskyesterday' %}"> Work in progress</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ completed_tasks_yesterday.count }}</span>
                    <a href="{% url 'taskers:completedtaskyesterday' %}"> Completed</a></small> <br>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-info mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-alt"></i> All tasks
            </div>
            <div class="card-body">
                <small>
                    {% if priority_tasks.count %}
                    <span class="badge badge-danger badge-pill">{{ priority_tasks.count }}</span>
                    {% else %}
                    <span class="badge badge-primary badge-pill">{{ priority_tasks.count }}</span>
                    {% endif %}
                    <a href="{% url 'taskers:allprioritytasks' %}"> Priority</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ wip_tasks.count }}</span>
                    <a href="{% url 'taskers:allwiptasks' %}"> Work in progress</a></small> <br>
                <small><span class="badge badge-primary badge-pill">{{ completed_tasks.count }}</span>
                    <a href="{% url 'taskers:allcompletedtasks' %}"> Completed</a></small> <br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>
                    My Tasks
                    <small>
                        {% if perms.tasks %}
                            {% if perms.tasks.add_task %}
                                <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fa-regular fa-square-plus"></i> Add Task
                                </button>
                            {% endif %}
                        {% else %}
                            <p>You don't have permission to do anything in the foo app.</p>
                        {% endif %}
                    </small>
                </strong>
            </div>
            <div class="card-body">
                <table class="table table-sm" id="tasks">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client Name</th>
                            <th>Task Category</th>
                            <th>Date Started</th>
                            <th>Task Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.is_superuser %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                <!-- <strong>Date started</strong> <br> -->
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                <!-- <strong>Date started</strong> <br> -->
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <h4>New task</h4> -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- <input class="btn btn-primary btn-sm" type="submit" value="Create"> -->
                <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a> -->
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <input class="btn btn-primary btn-sm" type="submit" value="Create">
        </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}