{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-angle-left"></i> Back</a></li>
      <li class="breadcrumb-item active" aria-current="page">Task details</li>
    </ol>
</nav>
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
{% if instance.is_done %}
<div class="row">
    <div class="col-sm-3">
        <div class="card-container mb-3">
            <div>
                <h5>Task Details
                    <!-- {% if instance.is_done %}
                    {% else %}
                        {% if perm.tasks_delete_task %}
                            <a href="{% url 'taskers:taskdelete' instance.slug %}" class="btn btn-outline-danger btn-sm float-right"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                    {% endif %} -->
                </h5>
                <hr>
                <div class="mb-3">
                    <h4>{{ instance.name|title }}</h4>
                    <small>{{ instance.slug|upper }}</small>
                    <br>
                    <small><strong>Task type: </strong>{{ instance.task_type|title }}</small> <br>
                    <small><strong>Task Categories: </strong>{{ instance.task_category|title }}</small> <br>
                    {% if instance.paradise_link %}
                    <small><strong>Paradise link: </strong><a href="{{ instance.paradise_link }}"> --> View in paradise</a></small> <br>
                    {% endif %}
                    <small><strong>Date Started: </strong>{{ instance.created|date }}</small> <br>
                </div>
                

                {% if instance.is_priority %}
                    <div class="priority">
                        <strong class="priority">Note: </strong><small>This task is priority.</small>
                    </div>
                    <br>
                {% endif %}
                {% if instance.is_done %}
                    <div class="alert alert-success" role="alert">
                        <strong><i class="fa-regular fa-circle-check"></i> Completed.</strong><br>
                        <small>Completion date: {{ instance.updated|date }} | by {{ instance.user|title }}</small>
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>Working in progress...</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-container">
            <div>
                <h5>Task notes</h5>
                <hr>
                {% if not instance.taskremark_set.all %}
                <small class="text-muted">No notes available</small> 
                {% else %}
                <div class="note-scroll">
                {% for note in instance.taskremark_set.all %}
                    <div class="note">
                        {{note.count}}
                        {% if note.count == 0 %}
                            <p>No notes here...</p>
                        {% else %}
                            <small><u>Posted by: <a href="">{{ note.user|title }}</a></u></small>
                            <p>{{ note.remarks|safe }}</p>
                            <small class="text-muted">Posted {{note.created|timesince}} ago</a></small> <br>
                        {% endif %}
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-3">
        <div class="card-container mb-3">
            <div>
                <h5>Update Task</h5>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary btn-sm" type="submit" value="Update">
                    <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a> -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-container">
            <strong>Check list</strong><br>
            {{ instance.check_list|upper }}
            <br>
            {% for cl in instance.check_list.checklisttype_set.all %}
                <input type="checkbox" {% if cl.is_done %}checked{% endif %}> <label class="text-muted"> {{ cl }}</label> <br>
            {% endfor %}
            
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-container mb-3">
            <div>
                <h5>Task Details
                    {% if perms.tasks %}
                        {% if perms.tasks_delete_task %}
                            <a href="{% url 'taskers:taskdelete' instance.slug %}" class="btn btn-outline-danger btn-sm float-right"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                    {% endif %}
                </h5>
                <hr>
                <h4>{{ instance.name|title }}</h4>
                <div class="text-details">
                    <p class="card-text">
                        <small><strong>Task type: </strong>{{ instance.task_type|title }}</small> <br>
                        <small><strong>Task Categories: </strong>{{ instance.task_category|title }}</small> <br>
                        <small><strong>Task link: </strong><a href="{{ instance.paradise_link }}">{{ instance.paradise_link }}</a></small> <br>
                        <small><strong>Date Started: </strong>{{ instance.created|date }}</small> <br>
                    </p>
                    {% if instance.is_priority %}
                    <div class="priority">
                        <strong class="priority">Note: </strong><small>This task is priority.</small>
                    </div>
                    <br>
                    {% endif %}
                    {% if instance.is_done %}
                    <div class="alert alert-success" role="alert">
                        <strong>Task status: Completed.</strong><br>
                        <small>Completion date: {{ instance.updated|date }} | by {{ instance.user|title }}</small>
                    </div>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>Work in progress...</strong>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-container">
            <div>
                <h5>Task notes</h5>
                <hr>
                {% if not instance.taskremark_set.all %}
                <small class="text-muted">No notes available</small> 
                {% else %}
                <div class="note-scroll">
                {% for note in instance.taskremark_set.all %}
                    <div class="note">
                        <!-- {{note.remarks}} -->
                        {% if not note.remarks %}
                        <p>No notes here...</p>
                        
                        {% else %}
                                <small><u>Posted by <a href="">{{ note.user|title }}</a> </u>
                                    {% if perms.tasks %}
                                        {% if perms.tasks.delete_taskremark %}
                                            <a href="{% url 'taskers:delete_note' note.pk %}" class="float-right delete-note"><i class="fa-regular fa-trash-can"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </small>
                                <p>{{ note.remarks|safe }}</p>
                                <small class="text-muted">Posted {{note.created|date}} | Updated {{note.updated|timesince}} ago</small> <br>
                        {% endif %}
                    </div>
                {% endfor %}
                {% endif %}
                </div>
                {% if perms.tasks %}
                    {% if perms.tasks.add_taskremark %}
                        <button type="button" class="btn btn-outline-primary btn-sm mt-3" data-toggle="modal" data-target="#addNote">
                            Add note
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ remark_form|crispy }}
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endif %}
{% endblock %}