{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Time in</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-outline-primary btn-sm" name="on_duty" type="submit" value="Save">
                    <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a> -->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}