{% load crispy_forms_tags %}
{% load static %}
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-3">
        <div class="card-container">
            <strong>Top designer</strong>
            <hr>
            <!-- {{top_designer_points}} -->
            {% if top_designer_points %}
            <div class="media mb-2">
                <img style="width: 64px; height: auto; border-radius: 32px;" class="mr-3" {% for img in top_designer_points.designerprofile_set.all %} src="{{ img.image.url }}" {% endfor %} alt="Generic placeholder image">
                <div class="media-body">
                    <strong class="mt-0"><a href="{% url 'dashboards:userdetails' top_designer_points.get_username %}"><i class="fa-solid fa-star" style="color: orange;"></i> {{ top_designer_points|title }}</a></strong>
                    <br>
                    <small class="mt-0 text-muted">
                        {{ top_designer_points.total_points }} {% if top_designer_points.total_points > 1 %} points {% else %} point {% endif %}
                    </small>
                </div>
            </div>
            {% else %}
            <small class="text-muted">To be announce</small>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-container border-success">
            {% if perms.tasks %}
                {% if perms.tasks.add_task %}
                    <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fa-regular fa-square-plus"></i> Add Task
                    </button>
                {% endif %}
            {% else %}
                <p>You don't have permission to do anything in the foo app.</p>
            {% endif %}
            <div>
                <small class="text-muted">Total of <strong>{{ total_completed.count }}</strong> tasks</small>
                <h3>{{ done_tasks_this_month.count }} {% if done_tasks_this_month.count > 1 %}tasks{% else %}task{% endif %} completed</h3>
                <small>for the month of {{ today|date:'F' }}</small>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav class="mt-3">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Completed tasks</button>
                <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Designers points</button>
                <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Designers</button>
            </div>
        </nav>
        <div class="card-container">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="mt-3">
                        <strong>Completed tasks</strong>
                        <small class="float-right">{{ today|date:'F Y' }}</small>
                        <hr>
                        <canvas id="perDayTaskChart" height="80"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="mt-3">
                        <strong>Designer's total points of the month</strong>
                        <small class="float-right">{{ today|date:'F Y' }}</small>
                        <hr>
                        <canvas id="myChart" height="80"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="mt-3">
                        <strong>Designers</strong>
                        <small class="text-muted float-right">{{today|date}}</small>
                        <br>
                        <br>
                        <table class="table table-striped table-sm" id="designers">
                            <thead>
                                <tr>
                                    <th>Designers</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if designers_task_per_day %}
                                {% for user in designers_task_per_day %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <img style="width: 64px; height: auto; border-radius: 3px;" class="mr-3" {% for i in user.designerprofile_set.all %} src="{{ i.image.url }}" {% endfor %} alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h2 class="float-right text-muted">{{ user.total_points }} {% if user.total_points > 1 %} points {% else %} point {% endif %}</h2>
                                                <strong class="mt-0"><a href="{% url 'dashboards:userdetails' user.get_username %}">{{ user.get_username|title }}</a></strong><br>
                                                <small class="mt-0 text-muted">
                                                    {{ user.total }} {% if user.total > 1 %} tasks {% else %} task {% endif %} completed
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>
                                        <small class="text-muted">No task completed yet.</small>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card-container">
            <strong>ORM to SQL</strong>
            {% for sqlmap in designers_task_per_day %}
                {{ slqmap.query}}
            {% endfor %}
            <hr>
            {{designers_task_per_day.query}}
        </div>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card-container">
            <strong>SLQ QUERIES</strong><br>
            {{ designer_points.query }}
            <hr>
            {% for user in designer_points %}
                <strong>{{ user }}</strong> <br>
                {% for task in user.task_set.all %}
                    <small class="text-muted">{{forloop.counter}} {{ task.name }}</small> <br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div> -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <h4>New task</h4> -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <input class="btn btn-primary btn-sm" type="submit" value="Create">
        </div>
            </form>
        </div>
    </div>
</div>