{% block scripts %}
<script>
    $(document).ready(function(){
          var ctx = document.getElementById('myPerDayTaskChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'line', // doughnut, line
              data: {
                  labels: [{% for task in user_tasks_per_day %} '{{ task.day|date:'F j' }}', {%endfor%}], //loop through queryset, 
                  datasets: [{
                      // axis: 'y',
                      label: ' Total completed task',
                      data: [{% for task in user_tasks_per_day %}'{{ task.c }}',{%endfor%}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.05)', 
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 3
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true,
                          indexAxis: 'y',
                      }
                  },
                  
              }
        });
    });
</script>
{% endblock %}

{% load crispy_forms_tags %}
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-3">
        <div class="card border-primary mb-2">
            <div class="card-body">
                <strong>
                    {{ request.user.get_username|title }}
                    {% if request.user.is_active %}
                    <small class="float-right">Status: Active</small>
                    {% endif %}
                </strong>
                <hr>
                <div class="list-group mb-3">
                    <a href="{% url 'taskers:allprioritytasks' %}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                        Priority
                        {% if prioritytasks %}
                        <span class="badge badge-danger badge-pill">
                            {{ prioritytasks.count }}
                        </span>
                        {% else %}
                        <span class="badge badge-primary badge-pill">
                            {{ prioritytasks.count }}
                        </span>
                        {% endif %}
                    </a>
                    <a href="{% url 'taskers:allwiptasks' %}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                        Work in progress
                        <span class="badge badge-primary badge-pill">
                            {{ total_tasks.count }}
                        </span>
                    </a>
                    <a href="{% url 'taskers:allcompletedtasks' %}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                        Completed
                        <span class="badge badge-primary badge-pill">
                            {{completed.count}}
                        </span>
                    </a>
                </div>
                {% if perms.tasks %}
                    {% if perms.tasks.add_task %}
                        <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fa-regular fa-square-plus"></i> Add Task
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card border-primary mb-2">
            <div class="card-body">
                <strong>Completed tasks per day</strong>
                <hr>
                <canvas id="myPerDayTaskChart" width="1000" height="250"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card border-success mb-2">
            <div class="card-header">
                <strong>Tasks report summary</strong>
            </div>
            <div class="card-body">
                <h6>
                    Total points for the month
                    <br>
                    <br>
                    <div style="background-color: rgb(156, 204, 156); padding: 20px; border-radius: 10px; width: auto; color: white; font-weight: bold;">
                        <h1>
                            {{ user_total_points.total_sum }}
                            <small>PTS.</small>
                        </h1> 
                    </div>
                    <small class="text-muted">25% higher compared to previous month</small>
                    
                    <!-- <small>{{ done_tasks_this_month.count }}</small>
                    <small>{{ month }}</small>
                    <small>{{ year }}</small> -->
                </h6>
                {% for cat in tasks_cat %}
                    {{ cat.name }} - {{cat.task_point}} <br>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <h4>New task</h4> -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- <input class="btn btn-primary btn-sm" type="submit" value="Create"> -->
                <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a> -->
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <input class="btn btn-primary btn-sm" type="submit" value="Create">
        </div>
            </form>
        </div>
    </div>
</div>