{% load crispy_forms_tags %}
{% if messages %}
    {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <strong>Designers</strong>
                <hr>
                <div class="list-group mb-3">
                    {% for user in designer_points %}
                        <!-- {% if not user.is_superuser %} -->
                        <a href="{% url 'dashboards:userdetails' user.username %}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                            <div>
                                {{ user.get_username|title }} <br>
                                <small>Total points for the month</small>
                            </div>
                            <div>
                                <h3>{{ user.total_points }}</h3>
                            </div>
                        </a>
                        <!-- {% endif %} -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-body">
                <strong>Completed</strong>
                {% if perms.tasks %}
                    {% if perms.tasks.add_task %}
                        <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fa-regular fa-square-plus"></i> Add Task
                        </button>
                    {% endif %}
                {% else %}
                    <p>You don't have permission to do anything in the foo app.</p>
                {% endif %}
                <hr>
                <small class="text-muted">total of <strong>{{ total_completed.count }}</strong> tasks</small>
                <h2>{{ done_tasks_this_month.count }} {% if done_tasks_this_month.count > 1 %}tasks{% else %}task{% endif %}</h2>
                <small>are for the month of {{ today|date:'F' }}</small>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card bg-info text-white">
          <div class="card-body">
            <strong>Designer's total points of the month</strong>
            <hr>
            <canvas id="myChart" height="80"></canvas>
          </div>
        </div>
        <div class="card bg-success text-white mt-3">
            <div class="card-body">
                <!-- {% for t in tasks_per_day %}
                    <strong style="color: red;">{{t.day|date:'F j'}}</strong> ({{t.c}})
                {% endfor %} -->
                <strong>Completed tasks per day</strong>
                <hr>
                <canvas id="perDayTaskChart" height="80"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <h4>New task</h4> -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <input class="btn btn-primary btn-sm" type="submit" value="Create">
        </div>
            </form>
        </div>
    </div>
</div>