{% load crispy_forms_tags %}
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get">
                    {{filter.form|crispy}}
                    <input type="submit" />
                </form>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% for obj in filter.qs %}
                    {{ obj.name }} - {{ obj.task_category }}<br />
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="mb-4">
            <strong>{{ title|title }}</strong>
            <form class="form-inline my-2 my-lg-0 float-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="card-columns">
            {% for task in page_obj %}
            {% if task %}
            <div class="card card-container">
                <div>
                    <strong>{{ task.name|title }}</strong>
                    {% if task.is_priority %}
                        <small class="float-right" style="color: white; background-color: hsla(0, 95%, 49%, 0.7); padding: 5px; border-radius: 5px;">
                            PRIORITY
                        </small>
                    {% endif %}
                    <br>
                    <small>
                        {{ task.task_category|title }} - ({{ task.task_type|title }})
                        <br>
                        {% if task.paradise_link %}
                        <a href="{{ task.paradise_link }}">{{ task.paradise_link }}</a>
                        {% else %}
                        No paradise link
                        {% endif %}
                    </small>
                    <br>
                    <br>
                    {% if not task.is_done %}
                        {% if perms.tasks %}
                            {% if perms.tasks.change_task %}
                                <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                            {% endif %}
                            {% if perms.tasks.delete_task %}
                                <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if perms.tasks %}
                            {% if perms.tasks.view_task %}
                                <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    <small class="text-muted">Created: {{task.created|date}} | by: 
                        {% if request.user.is_superuser %}
                        <a href="{% url 'dashboards:userdetails' task.user.username %}">{{ task.user.username|title }}</a>
                        {% else %}
                        {{ task.user.username|title }}
                        {% endif %}
                    </small>
                </div>
            </div>
            {% else %}
                {{ empty }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="mypagination mb-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>