{% load crispy_forms_tags %}
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get">
                    {{filter.form|crispy}}
                    <input type="submit" />
                </form>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% for obj in filter.qs %}
                    {{ obj.name }} - {{ obj.task_category }}<br />
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-3">
        <div class="card-container">
            <form class="form-inline my-2 my-lg-0">
                <input style="width: 100%;" class="form-control" type="search" placeholder="Search tasks" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2" type="submit" hidden>Search</button>
            </form>
        </div>
        <div class="card-container">
            <strong>Filters</strong>
            <hr>
            <strong>Categories</strong> <br>
            {% for cat in categories %}
                {{cat.count}} {{ cat.name }} <br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-container">
            <strong>Tasks list</strong>
            <hr>
            <table class="table table-hover table-sm" id="tasks">
                <thead>
                    <tr>
                        <th>Business name</th>
                        <th>Task type</th>
                        <th>Paradise link</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in page_obj %}
                    {% if task %}
                    <tr>
                        <td>
                            <strong>
                                {% if task.is_priority %}
                                    <small class="float-left" style="color: rgba(238, 27, 27, 0.884);">
                                        PRIO
                                    </small>
                                    &nbsp 
                                {% endif %}
                                <a href="{% url 'taskers:taskdetail' task.slug %}">
                                    {{ task.name|truncatechars:"20" }}
                                </a><br>
                                <small class="text-muted"><strong>Code:</strong> {{ task.slug|upper }}</small>
                            </strong>
                        </td>
                        <td>
                            {{ task.task_category|title }} - ({{ task.task_type|title }})
                        </td>
                        <td>
                            {% if task.paradise_link %}
                            <a href="{{ task.paradise_link }}"> -- > View in paradise</a>
                            {% else %}
                            No paradise link
                            {% endif %}
                        </td>
                        <td>
                            <small class="text-muted">
                                {% if task.is_done %}
                                    <i class="fa-regular fa-circle-check text-muted"></i> Completed
                                {% else %}
                                Work in progress
                                {% endif %}
                                <br> {{task.updated|date}} | by: 
                                {% if request.user.is_superuser %}
                                <a href="{% url 'dashboards:userdetails' task.user.username %}">{{ task.user.username|title }}</a>
                                {% else %}
                                {{ task.user.username|title }}
                                {% endif %}
                            </small>
                        </td>
                    </tr>
                    {% else %}
                        Nothing to display
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <!-- <div class="mb-4">
            <div class="card-container">
                <strong>{{ title|title }}</strong>
                <form class="form-inline my-2 my-lg-0 float-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <br>
                <br>
            </div>
        </div> -->
        
        
    </div>
</div>