<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>
                    {{ title|title }}
                </strong>
            </div>
            <div class="card-body">
                <table class="table table-sm" id="tasks">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client Name</th>
                            <th>Task Category</th>
                            <th>Date Started</th>
                            <th>Task Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.is_superuser %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for task in tasks %}
                        <tr {% if not task.is_done %} style="background-color: rgb(244, 244, 244);" {% endif %}>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <h5>{{ task.name|title }}</h5>
                            </td>
                            <td>
                                {{ task.task_category|title }} - ({{ task.task_type|title }})
                            </td>
                            <td>
                                
                                {{ task.created|date }}
                            </td>
                            <td>
                                {% if task.is_done %}
                                <div class="alert alert-success">
                                    <div>
                                        <strong>Completed!</strong>
                                        <small>{{ task.updated|date }} | by {{task.user}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <div >
                                        <strong>Work in progress...</strong> 
                                        <small>By {{task.user|title}}</small> <br>
                                        {% if task.is_priority %}
                                            <small style="color: rgb(237, 45, 77);"><strong>Note:</strong>  This task is priority.</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if not task.is_done %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                {% else %}
                                    <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="mb-4">
            <strong>{{ title|title }}</strong>
            <form class="form-inline my-2 my-lg-0 float-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="card-columns">
            {% for task in page_obj %}
            {% if task %}
            <div class="card">
                <div class="card-body">
                    <strong>{{ task.name|title }}</strong><br>
                    <small>
                        {{ task.task_category|title }} - ({{ task.task_type|title }})
                        <br>
                        {% if task.paradise_link %}
                        <a href="{{ task.paradise_link }}">{{ task.paradise_link }}</a>
                        {% else %}
                        No paradise link
                        {% endif %}
                    </small>
                    <br>
                    <br>
                    {% if not task.is_done %}
                        <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="{% url 'taskers:taskdelete' task.slug %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                    {% else %}
                        <a href="{% url 'taskers:taskdetail' task.slug %}" class="btn btn-outline-success btn-sm"><i class="fa-regular fa-rectangle-list"></i> Details</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <small class="text-muted">Created: {{task.created|date}} | by: 
                        {% if request.user.is_superuser %}
                        <a href="{% url 'dashboards:userdetails' task.user.username %}">{{ task.user.username|title }}</a>
                        {% else %}
                        {{ task.user.username|title }}
                        {% endif %}
                    </small>
                </div>
            </div>
            {% else %}
                {{ empty }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="mypagination mb-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>